@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Open+Sans:wght@300&display=swap");
@import "functions";

$secondary-color: #1f1f1f;
$bg-image: url(../dist/css/images/background.webp);
$dark-color: #333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Mulish", sans-serif;
  background: #f4f4f4;
  line-height: 1.5;
}

header {
  padding: 0 3.5rem;
  background: url(https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8c3RhcnR1cHxlbnwwfDB8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60)
    no-repeat center center/cover;
  position: relative;
  line-height: 1;

  h2 {
    color: $white-color;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0.5;
  }

  * {
    z-index: 50;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;

    ul {
      display: flex;
      li {
        padding-right: 2rem;
        font-weight: 300;

        a {
          font-weight: bold;
          color: $white-color;
        }

        a:hover {
          color: $primary-color;
          padding: 0.75rem 0;
          border-bottom: $primary-color 2px solid;
        }
      }
    }

    p {
      font-weight: bold;
      color: $white-color;
      padding: 0.75rem 0;
      border-bottom: $primary-color 2px solid;

      &:hover {
        color: $primary-color;
        cursor: pointer;
      }
    }
  }

  .content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;

    h1 {
      font-size: 4.5rem;
      margin: 0 1rem 5rem;
      width: 70vw;
      color: $white-color;
    }
  }
}

#showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .showcase-a {
    padding: 4rem 0;
    p {
      text-align: center;
      padding: 20px;
      font-weight: bold;
      color: $primary-color;
    }

    h1 {
      max-width: 40vw;
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 50px;
      line-height: 1.5;
      color: $secondary-color;
    }
  }

  .showcase-b {
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 2rem;

    .grid {
      border: #b2b5b9 2px solid;
      border-radius: 5px;
      padding: 50px 35px;
      margin-bottom: 50px;
      text-align: center;

      &:hover {
        border: $primary-color 2px solid;
      }

      i {
        color: $primary-color;
        padding-bottom: 10px;
      }

      h2 {
        padding-bottom: 10px;
        color: $secondary-color;
      }
    }
  }
}

.empower {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 30px 0;
  width: 100%;
  height: 100vh;

  .empower-img {
    img {
      width: 100%;
      height: 100%;
    }
  }

  .empower-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #1f1f1f;
    color: $white-color;
    padding-left: 50px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;

    h1 {
      font-size: 2rem;
    }

    & > p,
    h1 {
      padding-bottom: 2rem;
    }

    .span {
      font-size: 1.2rem;
    }
  }
}

#works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5.5rem 3rem;

  .work-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;

    h1 {
      font-size: 40px;
      padding-bottom: 20px;
      color: #1f1f1f;
    }

    p {
      width: 50%;
      text-align: center;
      font-size: 16px;
      color: #1f1f1f;
      padding: 20px 0;
    }
  }

  .works-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    width: 100%;
    padding: 0 40px;

    .first-child {
      width: 100%;
      height: 280px;
      grid-column: 1 / span 2;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }
}

#actions {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 10rem 0;

  .actions-content {
    padding: 0 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .p-1 {
      font-size: 18px;
      padding-bottom: 25px;
      font-weight: bold;
    }

    .p-2 {
      font-size: 16px;
      color: #333;
    }

    .p-3 {
      font-size: 20px;
      padding-top: 35px;
      font-weight: bold;
      width: 100%;
      display: flex;
      align-items: center;

      i {
        font-size: 3rem;
        color: $primary-color;
        padding-right: 10px;
      }
    }

    h1 {
      font-size: 40px;
      padding-bottom: 15px;
    }
  }

  img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: block;
  }
}

#team {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  box-sizing: border-box;

  .team-content {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 2.5rem;
      color: #1f1f1f;
    }

    p {
      color: #727272;
      width: 40%;
      text-align: center;
      padding: 20px;
    }
  }

  .team-img {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 2rem;

    .card {
      height: 300px;
      text-align: center;
      line-height: 1.75rem;

      h3 {
        padding-top: 10px;
      }
    }

    img {
      height: 100%;
      border-radius: 5px;
    }
  }
}

#hero {
  background: url(https://media.istockphoto.com/id/1297327189/photo/interior-of-light-room-with-armchair-on-empty-dark-blue-wall-background.jpg?s=612x612&w=0&k=20&c=44GWRsa90BdViR3r3vt3lGKfTmOjTbXWu21O6rRIkFc=)
    no-repeat center center/cover;
  height: 100vh;
  margin: 10rem 0;
  padding: 0 8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & * {
    z-index: 10;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.6);
  }

  .hero-content {
    padding: 0 4rem;
    text-align: center;
    width: 80%;
    padding: 4rem 0;

    p {
      font-size: 24px;
      font-weight: bold;
      color: #fff;
    }
  }

  .hero-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
    text-align: center;

    .para {
      line-height: 1;
      font-size: 16px;
      width: 400px;
      padding: 5px 0;

      p {
        padding-bottom: 5px;
        color: #fff;
      }
    }

    img {
      width: 46px;
      height: 46px;
      border-radius: 50%;
    }
  }
}

#contact {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;

  .contact-content {
    text-align: center;
    padding-bottom: 30px;
    width: 40%;

    h1 {
      font-size: 40px;
      color: #1f1f1f;
    }

    p {
      font-size: 16px;
      color: #727272;
    }
  }

  .contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin-bottom: 20px;
    padding-top: 5px;
    .form-items{
      margin-bottom: 15px;
    }

    .form-message{
      padding-bottom: 100px;
      border-radius: 20px;
    }

    input{
      display: block;
      width: 100%;
      padding: 15px;
      border-radius: 50px;
    }

    .btn{
      background: $primary-color;
      color: #fff;
      width: 100%;
      font-weight: bold;

      &:hover{
        background: transparent;
        color: $primary-color;
      }
    }
  }
}

// footer
#footer {
  height: 55vh;
  background: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .footer-content {
    display: flex;
    align-items: center;
    padding-top: 5rem;
    justify-content: space-around;
    width: 100%;
    color: #fff;

    ul {
      display: flex;
      align-items: center;

      li {
        padding-right: 30px;

        &:hover {
          cursor: pointer;
          color: $primary-color;
        }
      }
    }

    .icons i {
      margin-right: 10px;
      border: #fff 1px solid;
      padding: 10px;
      text-align: center;
      border-radius: 50%;

      &:hover {
        background: $primary-color;
        cursor: pointer;
      }
    }
  }

  .copy {
    padding-bottom: 4rem;
    border-top: #333 1px solid;
    padding-top: 2rem;
    color: #fff;
    width: 80%;
    text-align: center;

    span {
      color: $primary-color;
    }
  }
}

@import 'media';